src/flows/DirectAdvertiser_Agency-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>GetBookingHoldingAgencyDEtails</name>
        <label>GetBookingHoldingAgencyDetails</label>
        <locationX>398</locationX>
        <locationY>803</locationY>
        <apexClass>HoldingAgencyDetails</apexClass>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>BookingAgencyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userType</name>
            <value>
                <elementReference>UserType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>HoldingAgencyCCIId</assignToReference>
            <name>HoldingAgencyCCIId</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>HoldingBillingAgencyDetails</name>
        <label>HoldingBillingAgencyDetails</label>
        <locationX>1409</locationX>
        <locationY>602</locationY>
        <apexClass>HoldingAgencyDetails</apexClass>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>BillingAgencyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userType</name>
            <value>
                <elementReference>UserType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>HoldingAgencyCCIId</assignToReference>
            <name>HoldingAgencyCCIId</name>
        </outputParameters>
    </apexPluginCalls>
    <assignments>
        <name>AgencyTypeNotSelected_0</name>
        <label>AgencyTypeNotSelected</label>
        <locationX>555</locationX>
        <locationY>218</locationY>
        <assignmentItems>
            <assignToReference>ErrorAgencyTypeNotSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please select an Agency Type first and then press Next</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Agency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBillingErrorMessage</name>
        <label>AssignBillingErrorMessage</label>
        <locationX>683</locationX>
        <locationY>259</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessageNoBilling</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please select a Billing Agency first and then press Next</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Agencies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBillingErrorMessage_0</name>
        <label>AssignBillingErrorMessage</label>
        <locationX>223</locationX>
        <locationY>753</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessageNoBilling4Booking</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please select a Billing Agency first and then press Next</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BillingAgencies4Booking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBillingErrorMessage_1</name>
        <label>AssignBillingErrorMessage</label>
        <locationX>923</locationX>
        <locationY>703</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessageNoParentBilling</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please select a Billing Agency first and then press Next</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ParentBillingAgencies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBookingErrorMessage</name>
        <label>AssignBookingErrorMessage</label>
        <locationX>185</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessageNoBooking</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please select a Booking Agency first and then press Next</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Booking_Agencies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBookingErrorMessage_1</name>
        <label>AssignBookingErrorMessage</label>
        <locationX>370</locationX>
        <locationY>363</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessageNoParentBooking</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please select a Booking Agency first and then press Next</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ParentBookingAgencies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignParentAsBillingAgency</name>
        <label>AssignParentAsBillingAgency</label>
        <locationX>1233</locationX>
        <locationY>295</locationY>
        <assignmentItems>
            <assignToReference>BillingAgencyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LookUpBillingAgencyRecord_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ParentAgencyNotSelected</name>
        <label>ParentAgencyNotSelected</label>
        <locationX>590</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ErrorParentAgencyNotSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please select an Agency Type first and then press Next</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AgencyTypeForParemt</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Billing_Agency</name>
        <choiceText>Billing Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Booking_Agency</name>
        <choiceText>Booking Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Booking</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Please_Select</name>
        <choiceText>Please Select</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PleaseSelect</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>BookingOrBilling</name>
        <label>BookingOrBilling</label>
        <locationX>297</locationX>
        <locationY>295</locationY>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>DisplayBookingAgencies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agency_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Booking_Agency</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Booking_Agencies</targetReference>
            </connector>
            <label>DisplayBookingAgencies</label>
        </rules>
        <rules>
            <name>DisplayBillingAgencies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agency_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Billing_Agency</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_Agencies</targetReference>
            </connector>
            <label>DisplayBillingAgencies</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckAgenciesExist4Parent</name>
        <label>CheckAgenciesExist4Parent</label>
        <locationX>739</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>NoAgencies_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Agency</defaultConnectorLabel>
        <rules>
            <name>Billing4ParentExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BillingRelationshipForParemt</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>BookingRelationshipForParent</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ParentBillingAgencies</targetReference>
            </connector>
            <label>Billing4ParentExistsButNoBooking</label>
        </rules>
        <rules>
            <name>Booking4ParentExistButNoBilling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BillingRelationshipForParemt</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>BookingRelationshipForParent</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ParentBookingAgencies</targetReference>
            </connector>
            <label>Booking4ParentExistButNoBilling</label>
        </rules>
        <rules>
            <name>BothBookingnBilling4ParentExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BillingRelationshipForParemt</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>BillingRelationshipForParemt</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AgencyTypeForParemt</targetReference>
            </connector>
            <label>BothBookingnBilling4ParentExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBillingAgenciesExist4Booking</name>
        <label>CheckBillingAgenciesExist4Booking</label>
        <locationX>36</locationX>
        <locationY>462</locationY>
        <defaultConnector>
            <targetReference>NoAgency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Agency</defaultConnectorLabel>
        <rules>
            <name>Billing4ParentExists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BillingRelationship4Booking</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>BillingAgencies4Booking</targetReference>
            </connector>
            <label>Billing4ParentExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBillingAgencyType</name>
        <label>CheckBillingAgencyType</label>
        <locationX>1621</locationX>
        <locationY>265</locationY>
        <defaultConnector>
            <targetReference>ErrorScreenIncorrectType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AgencyTypeNotCorrect</defaultConnectorLabel>
        <rules>
            <name>TypeIsCorrect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BillingAgencyType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing Agency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckBookingAgencyParent_0</targetReference>
            </connector>
            <label>TypeIsCorrect</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBookingAgencyParent</name>
        <label>CheckBookingAgencyParent</label>
        <locationX>397</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>GetBookingHoldingAgencyDEtails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BookingAgencyParentExists</defaultConnectorLabel>
        <rules>
            <name>BookingAgencyParentNullCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgencysParent</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>BookingAgencyParentNotExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBookingAgencyParent_0</name>
        <label>CheckBillingAgencyParent</label>
        <locationX>1496</locationX>
        <locationY>498</locationY>
        <defaultConnector>
            <targetReference>HoldingBillingAgencyDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BookingAgencyParentExists</defaultConnectorLabel>
        <rules>
            <name>BookingAgencyParentNullCheck_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgencysParent</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>BookingAgencyParentNotExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfAgencyTypeSelected_0</name>
        <label>CheckIfAgencyTypeSelected</label>
        <locationX>397</locationX>
        <locationY>200</locationY>
        <defaultConnector>
            <targetReference>BookingOrBilling</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AgencySelected</defaultConnectorLabel>
        <rules>
            <name>AgencyNotSelected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agency_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Please_Select</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AgencyTypeNotSelected_0</targetReference>
            </connector>
            <label>AgencyNotSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfBillingAgencyisSelected_0</name>
        <label>CheckIfBillingAgencyisSelected</label>
        <locationX>547</locationX>
        <locationY>370</locationY>
        <defaultConnector>
            <targetReference>AssignBillingErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BillingAgencyNotSelected</defaultConnectorLabel>
        <rules>
            <name>BillingAgencySelected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BillingAgencyId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>LookUpBillingAgencyRecord_0</targetReference>
            </connector>
            <label>BillingAgencySelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfBillingAgencyisSelected_0_0</name>
        <label>CheckIfBillingAgencyisSelected</label>
        <locationX>193</locationX>
        <locationY>642</locationY>
        <defaultConnector>
            <targetReference>AssignBillingErrorMessage_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BillingAgencyNotSelected</defaultConnectorLabel>
        <rules>
            <name>BillingAgencySelected_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BillingAgencyId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>LookUpBookingAgencyRecord</targetReference>
            </connector>
            <label>BillingAgencySelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfBillingAgencyisSelected_0_0_0</name>
        <label>CheckIfBillingAgencyisSelected</label>
        <locationX>1074</locationX>
        <locationY>661</locationY>
        <defaultConnector>
            <targetReference>AssignBillingErrorMessage_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BillingAgencyNotSelected</defaultConnectorLabel>
        <rules>
            <name>BillingAgencySelected_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BillingAgencyId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>LookUpBillingAgencyRecord_0</targetReference>
            </connector>
            <label>BillingAgencySelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfBookingAgencyisSelected</name>
        <label>CheckIfBookingAgencyisSelected</label>
        <locationX>9</locationX>
        <locationY>227</locationY>
        <defaultConnector>
            <targetReference>AssignBookingErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BookingAgencyNotSelected</defaultConnectorLabel>
        <rules>
            <name>BookingAgencySelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BookingAgencyId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>LookBilling4Booking</targetReference>
            </connector>
            <label>BookingAgencySelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfBookingAgencyisSelected_1</name>
        <label>CheckIfBookingAgencyisSelected</label>
        <locationX>209</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>AssignBookingErrorMessage_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BookingAgencyNotSelected</defaultConnectorLabel>
        <rules>
            <name>BookingAgencySelected_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BookingAgencyId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>LookBilling4Booking</targetReference>
            </connector>
            <label>BookingAgencySelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfParentAgencyTypeSelected</name>
        <label>CheckIfParentAgencyTypeSelected</label>
        <locationX>605</locationX>
        <locationY>783</locationY>
        <defaultConnector>
            <targetReference>RouteToBillingOrBooking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ParentSelected</defaultConnectorLabel>
        <rules>
            <name>ParentNotSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agency_TypeParent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Please_Select</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ParentAgencyNotSelected</targetReference>
            </connector>
            <label>ParentNotSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckParentAccType</name>
        <label>CheckParentAccType</label>
        <locationX>780</locationX>
        <locationY>87</locationY>
        <defaultConnector>
            <targetReference>ParentoptionsLabel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DA</defaultConnectorLabel>
        <rules>
            <name>Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentAccType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookBilling4Parent</targetReference>
            </connector>
            <label>Client</label>
        </rules>
    </decisions>
    <decisions>
        <name>FindRelationships</name>
        <label>FindRelationships</label>
        <locationX>447</locationX>
        <locationY>27</locationY>
        <defaultConnector>
            <targetReference>NoAgencies</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>BillingButNoBooking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BookingRelationship</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>BillingRelationship</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Billing_Agencies</targetReference>
            </connector>
            <label>BillingButNoBooking</label>
        </rules>
        <rules>
            <name>BookingButNoBilling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BookingRelationship</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>BillingRelationship</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Booking_Agencies</targetReference>
            </connector>
            <label>BookingButNoBilling</label>
        </rules>
        <rules>
            <name>BothBooking_BillingExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BillingRelationship</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>BookingRelationship</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Select_Agency</targetReference>
            </connector>
            <label>BothBooking&amp;BillingExists</label>
        </rules>
        <rules>
            <name>BrandWidNoAgency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BillingRelationship</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>BookingRelationship</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookParentAccount</targetReference>
            </connector>
            <label>BrandWidNoAgency</label>
        </rules>
    </decisions>
    <decisions>
        <name>ParentoptionDecision</name>
        <label>ParentoptionDecision</label>
        <locationX>1170</locationX>
        <locationY>90</locationY>
        <defaultConnector>
            <targetReference>LookBilling4Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agency</defaultConnectorLabel>
        <rules>
            <name>DA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignParentAsBillingAgency</targetReference>
            </connector>
            <label>DA</label>
        </rules>
    </decisions>
    <decisions>
        <name>RouteToBillingOrBooking</name>
        <label>RouteToBillingOrBooking</label>
        <locationX>750</locationX>
        <locationY>679</locationY>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>ParentBilling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agency_TypeParent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Billing_Agency</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ParentBillingAgencies</targetReference>
            </connector>
            <label>ParentBilling</label>
        </rules>
        <rules>
            <name>ParentBooking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agency_TypeParent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Booking_Agency</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ParentBookingAgencies</targetReference>
            </connector>
            <label>ParentBooking</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BillingForParent</name>
        <dataType>String</dataType>
        <displayField>Agencyname__c</displayField>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>BillingAgencyId</assignToReference>
            <field>Account_A__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BookingForParent</name>
        <dataType>String</dataType>
        <displayField>Agencyname__c</displayField>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>BookingAgencyId</assignToReference>
            <field>Account_A__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetBilling4Booking</name>
        <dataType>String</dataType>
        <displayField>Agencyname__c</displayField>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BookingAgencyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>BillingAgencyId</assignToReference>
            <field>Account_A__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetBookingAgencies</name>
        <dataType>String</dataType>
        <displayField>Agencyname__c</displayField>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>BookingAgencyId</assignToReference>
            <field>Account_A__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectBillingAgencies</name>
        <dataType>String</dataType>
        <displayField>Agencyname__c</displayField>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>BillingAgencyId</assignToReference>
            <field>Account_A__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>AgencyFlow</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>LookBilling4Booking</name>
        <label>LookBilling4Booking</label>
        <locationX>26</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckBillingAgenciesExist4Booking</targetReference>
        </connector>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BookingAgencyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>BillingRelationship4Booking</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookBilling4Parent</name>
        <label>LookBilling4Parent</label>
        <locationX>858</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookBooking4Parent</targetReference>
        </connector>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>BillingRelationshipForParemt</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookBillingRelationship</name>
        <label>LookBillingRelationship</label>
        <locationX>65</locationX>
        <locationY>20</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookBookingRelationship</targetReference>
        </connector>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>BillingRelationship</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookBooking4Parent</name>
        <label>LookBooking4Parent</label>
        <locationX>846</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckAgenciesExist4Parent</targetReference>
        </connector>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>BookingRelationshipForParent</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookBookingRelationship</name>
        <label>LookBookingRelationship</label>
        <locationX>268</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindRelationships</targetReference>
        </connector>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>BookingRelationship</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookParentAccount</name>
        <label>LookParentAccount</label>
        <locationX>582</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookBilling4Parent</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ParentAccType</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookUpBillingAgencyRecord_0</name>
        <label>LookUpBillingAgencyRecord</label>
        <locationX>1421</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckBillingAgencyType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BillingAgencyId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AgencysParent</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BillingAgencyType</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookUpBookingAgencyRecord</name>
        <label>LookUpBillingAgencyRecord</label>
        <locationX>390</locationX>
        <locationY>548</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckBookingAgencyParent</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BookingAgencyId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AgencysParent</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>AgencyTypeForParemt</name>
        <label>AgencyType</label>
        <locationX>743</locationX>
        <locationY>552</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>CheckIfParentAgencyTypeSelected</targetReference>
        </connector>
        <fields>
            <name>NoAgenciesExist</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TypeNotSelectedError</name>
            <fieldText>{!ErrorParentAgencyNotSelected}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Agency_TypeParent</name>
            <choiceReferences>Billing_Agency</choiceReferences>
            <choiceReferences>Booking_Agency</choiceReferences>
            <choiceReferences>Please_Select</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Please_Select</defaultSelectedChoiceReference>
            <fieldText>Agency Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Billing_Agencies</name>
        <label>Billing Agencies</label>
        <locationX>481</locationX>
        <locationY>285</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>CheckIfBillingAgencyisSelected_0</targetReference>
        </connector>
        <fields>
            <name>ErrorNoBillingAgencySelected</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ErrorMessageNoBilling}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BillingAgencyLabel</name>
            <fieldText>Please select a Billing Agency.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Billing_AgenciesList</name>
            <choiceReferences>SelectBillingAgencies</choiceReferences>
            <choiceReferences>Please_Select</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Please_Select</defaultSelectedChoiceReference>
            <fieldText>Billing Agencies</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>BillingAgencies4Booking</name>
        <label>BillingAgencies4Booking</label>
        <locationX>216</locationX>
        <locationY>543</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>CheckIfBillingAgencyisSelected_0_0</targetReference>
        </connector>
        <fields>
            <name>ErrorMessaheIfNoBillingSelected</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ErrorMessageNoBilling4Booking}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BillingAgencies</name>
            <choiceReferences>GetBilling4Booking</choiceReferences>
            <choiceReferences>Please_Select</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Please_Select</defaultSelectedChoiceReference>
            <fieldText>Billing Agencies</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Booking_Agencies</name>
        <label>Booking Agencies</label>
        <locationX>28</locationX>
        <locationY>137</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>CheckIfBookingAgencyisSelected</targetReference>
        </connector>
        <fields>
            <name>SelectBookingAgecyErrorMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ErrorMessageNoBooking}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BookingAgencyLabel</name>
            <fieldText>Please select a Booking Agency.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Booking_AgenciesList</name>
            <choiceReferences>GetBookingAgencies</choiceReferences>
            <choiceReferences>Please_Select</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Please_Select</defaultSelectedChoiceReference>
            <fieldText>Booking Agencies</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>ErrorScreenIncorrectType</name>
        <label>ErrorScreenIncorrectType</label>
        <locationX>1617</locationX>
        <locationY>404</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>IncorrectType</name>
            <fieldText>Billing Agency selected in the wizard is set up in the system as  &apos;Booking Agency&apos;. Please correct either the agency type or relationship.
Click Next to go back  to the Account and try again.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>NoAgencies</name>
        <label>NoAgencies</label>
        <locationX>1071</locationX>
        <locationY>4</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;No Booking/Billing agencies have been associated with this account.Click Next to go back to Account.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>NoAgencies_0</name>
        <label>NoAgencies</label>
        <locationX>1110</locationX>
        <locationY>406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>ErrorMsg_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;No Booking/Billing agencies have been associated with this account or its parent.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click Next to go back to Account.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>NoAgency</name>
        <label>NoAgency</label>
        <locationX>50</locationX>
        <locationY>609</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>NoAgencyMsg</name>
            <fieldText>No Billing Agencies have been associated with this Booking Agency. Please create a relationship between the Billing Agency and the Booking Agency. 
Click Next to go back to Account</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ParentBillingAgencies</name>
        <label>ParentBillingAgencies</label>
        <locationX>1054</locationX>
        <locationY>537</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>CheckIfBillingAgencyisSelected_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Noagencies1</name>
            <fieldText>No agencies exist for this account. Please find below Parents billing agencies.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectBillingAgencyError</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ErrorMessageNoParentBilling}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BillingLabel</name>
            <fieldText>Please select a Billing Agency.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectBilling_Agency</name>
            <choiceReferences>BillingForParent</choiceReferences>
            <choiceReferences>Please_Select</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Please_Select</defaultSelectedChoiceReference>
            <fieldText>Billing Agency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>ParentBookingAgencies</name>
        <label>ParentBookingAgencies</label>
        <locationX>395</locationX>
        <locationY>450</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>CheckIfBookingAgencyisSelected_1</targetReference>
        </connector>
        <fields>
            <name>NoAgency3</name>
            <fieldText>No agencies exist for this account. Please find below parents booking agency.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectBookingAgencyError</name>
            <fieldText>{!ErrorMessageNoParentBooking}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BookingLabel</name>
            <fieldText>Please select a Booking Agency .</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ParentBooking_Agency</name>
            <choiceReferences>BookingForParent</choiceReferences>
            <choiceReferences>Please_Select</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Please_Select</defaultSelectedChoiceReference>
            <fieldText>Booking Agency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>ParentoptionsLabel</name>
        <label>ParentoptionsLabel</label>
        <locationX>970</locationX>
        <locationY>90</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>ParentoptionDecision</targetReference>
        </connector>
        <fields>
            <name>OptionsLabel</name>
            <fieldText>Do you want to bill directly the parent Account {!ParentName}?If not the wizard will take you to the associated agencies.
Please select the option below.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ParentOption</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Billing Options</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Select_Agency</name>
        <label>Select Agency</label>
        <locationX>269</locationX>
        <locationY>178</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>CheckIfAgencyTypeSelected_0</targetReference>
        </connector>
        <fields>
            <name>SelectAgencyTypeMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ErrorAgencyTypeNotSelected}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Agency</name>
            <fieldText>Please select the Agency Type</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Agency_Type</name>
            <choiceReferences>Booking_Agency</choiceReferences>
            <choiceReferences>Billing_Agency</choiceReferences>
            <choiceReferences>Please_Select</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Please_Select</defaultSelectedChoiceReference>
            <fieldText>Agency Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>LookBillingRelationship</startElementReference>
    <variables>
        <name>AccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AgencysParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BillingAgencyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BillingAgencyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BillingRelationship</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BillingRelationship4Booking</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BillingRelationshipForParemt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BookingAgencyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BookingRelationship</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BookingRelationshipForParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorAgencyTypeNotSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessageNoBilling</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessageNoBilling4Booking</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessageNoBooking</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessageNoParentBilling</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessageNoParentBooking</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorParentAgencyNotSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HoldingAgencyCCIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentAccType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
