src/flows/DirectAdvertiserDirectBilling-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>CreateCCiFinAcc</name>
        <label>CreateCCiFinAcc</label>
        <locationX>264</locationX>
        <locationY>464</locationY>
        <apexClass>CCIAccountCreationFromFlow</apexClass>
        <connector>
            <targetReference>BusyMsg</targetReference>
        </connector>
        <inputParameters>
            <name>FinAccs</name>
            <value>
                <elementReference>FinAccs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>uniquekey</name>
        </inputParameters>
        <outputParameters>
            <assignToReference>sopId</assignToReference>
            <name>sopId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>sopSource</assignToReference>
            <name>sopSource</name>
        </outputParameters>
    </apexPluginCalls>
    <choices>
        <name>DAAgency</name>
        <choiceText>Via Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DAAgency</stringValue>
        </value>
    </choices>
    <choices>
        <name>DADirect</name>
        <choiceText>DADirect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DADirect</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckIfAccountExistsinCCI</name>
        <label>CheckIfAccountExistsinCCI</label>
        <locationX>448</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>CreateCCiFinAcc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>SopExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sopId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <label>SopExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfFinAccExists</name>
        <label>CheckIfFinAccExists</label>
        <locationX>299</locationX>
        <locationY>169</locationY>
        <defaultConnector>
            <targetReference>CreateFinAcc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DoesNotExist</defaultConnectorLabel>
        <rules>
            <name>FinAccExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinAccs</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CheckIfAccountExistsinCCI</targetReference>
            </connector>
            <label>FinAccExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSopExists</name>
        <label>CheckSopExists</label>
        <locationX>543</locationX>
        <locationY>639</locationY>
        <defaultConnector>
            <targetReference>BusyMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>sopExists4CCI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sopId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>sopSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCI</stringValue>
                </rightValue>
            </conditions>
            <label>sopExists4CCI</label>
        </rules>
    </decisions>
    <label>DirectAdvertiserDirectBilling</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateFinAcc</name>
        <label>CreateFinAcc</label>
        <locationX>70</locationX>
        <locationY>324</locationY>
        <assignRecordIdToReference>FinAccs</assignRecordIdToReference>
        <connector>
            <targetReference>CreateCCiFinAcc</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>CoId</elementReference>
            </value>
        </inputAssignments>
        <object>FinanceAccount__c</object>
    </recordCreates>
    <recordLookups>
        <name>LookFinAccForDA</name>
        <label>LookFinAccForDA</label>
        <locationX>238</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfFinAccExists</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CoId</elementReference>
            </value>
        </filters>
        <object>FinanceAccount__c</object>
        <outputAssignments>
            <assignToReference>FinAccs</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sopId</assignToReference>
            <field>SOP_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sopSource</assignToReference>
            <field>SOP_Source__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookUpFinAccForDA</name>
        <label>LookUpFinAccForDA</label>
        <locationX>265</locationX>
        <locationY>692</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckSopExists</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CoId</elementReference>
            </value>
        </filters>
        <object>FinanceAccount__c</object>
        <outputAssignments>
            <assignToReference>FinAccs</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sopId</assignToReference>
            <field>SOP_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sopSource</assignToReference>
            <field>SOP_Source__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>BusyMsg</name>
        <label>BusyMsg</label>
        <locationX>265</locationX>
        <locationY>581</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>LookUpFinAccForDA</targetReference>
        </connector>
        <fields>
            <name>SystemBusyText</name>
            <fieldText>System is busy integrating the account with CCI.Please wait a few seconds and then press next.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>LookFinAccForDA</startElementReference>
    <variables>
        <name>AccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinAccs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IntegLogs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sopId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sopSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
