src/flows/DirectOrderProcessingFlow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>CreateCCICustomer</name>
        <label>CreateCCICustomer</label>
        <locationX>534</locationX>
        <locationY>186</locationY>
        <apexClass>OrderCreation</apexClass>
        <connector>
            <targetReference>CheckIfCCICusIdisNull</targetReference>
        </connector>
        <inputParameters>
            <name>BillingAgency</name>
            <value>
                <elementReference>BillingAgencyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BookingAgency</name>
            <value>
                <elementReference>bookingAgencyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CCICusId</assignToReference>
            <name>CCICusId</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>CreateCCICustomer_0</name>
        <label>CreateCCICustomer</label>
        <locationX>728</locationX>
        <locationY>627</locationY>
        <apexClass>OrderCreation</apexClass>
        <connector>
            <targetReference>CheckIfCCICusIdisNull4Agency</targetReference>
        </connector>
        <inputParameters>
            <name>BillingAgency</name>
            <value>
                <elementReference>BillingAgencyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BookingAgency</name>
            <value>
                <elementReference>bookingAgencyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>BillingAgencyId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>AgencyCCICustId</assignToReference>
            <name>CCICusId</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>GetHoldingCompanyDetails</name>
        <label>GetHoldingCompanyDetails</label>
        <locationX>385</locationX>
        <locationY>552</locationY>
        <apexClass>HoldingCompanyDetails</apexClass>
        <connector>
            <targetReference>IsToParentCCIIdNull</targetReference>
        </connector>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userType</name>
            <value>
                <elementReference>UserType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>TopParentCCIId</assignToReference>
            <name>TopParentCCIId</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>GetHoldingCompanyDetails_2</name>
        <label>GetHoldingCompanyDetails</label>
        <locationX>1667</locationX>
        <locationY>681</locationY>
        <apexClass>HoldingCompanyDetails</apexClass>
        <connector>
            <targetReference>IsToParentCCIIdNull_2</targetReference>
        </connector>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userType</name>
            <value>
                <elementReference>UserType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>TopParentCCIId</assignToReference>
            <name>TopParentCCIId</name>
        </outputParameters>
    </apexPluginCalls>
    <choices>
        <name>Agency</name>
        <choiceText>Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DAAgency</stringValue>
        </value>
    </choices>
    <choices>
        <name>Billing_Agency</name>
        <choiceText>Billing Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Booking_Agency</name>
        <choiceText>Booking Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Booking</stringValue>
        </value>
    </choices>
    <choices>
        <name>DAAgency</name>
        <choiceText>Via Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DAAgency</stringValue>
        </value>
    </choices>
    <choices>
        <name>DADirect</name>
        <choiceText>Direct</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DADirect</stringValue>
        </value>
    </choices>
    <choices>
        <name>Directly</name>
        <choiceText>Directly</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>AccTypeDecision</name>
        <label>AccType</label>
        <locationX>932</locationX>
        <locationY>21</locationY>
        <defaultConnector>
            <targetReference>IsParentIdNull_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoDA</defaultConnectorLabel>
        <rules>
            <name>DA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Advertiser</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Charity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsParentIdNull</targetReference>
            </connector>
            <label>DA</label>
        </rules>
        <rules>
            <name>PrivateAdvertiser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private Advertiser</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DIDirect</targetReference>
            </connector>
            <label>PrivateAdvertiser</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckAgencyCCICustomerIdExists</name>
        <label>CheckAgencyCCICustomerIdExists</label>
        <locationX>1092</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>CreateCCICustomer_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>CCICustomer4AgencyExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgencyCCICustId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CreateFinAccnSynchwidCCI</targetReference>
            </connector>
            <label>CCICustomer4AgencyExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCCICustomerIdExists</name>
        <label>CheckCCICustomerIdExists</label>
        <locationX>626</locationX>
        <locationY>20</locationY>
        <defaultConnector>
            <targetReference>CreateCCICustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>CCICustomerExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CCICusId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CheckIfCCICusIdisNull</targetReference>
            </connector>
            <label>CCICustomerExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfAccountIsActive</name>
        <label>CheckIfAccountIsActive</label>
        <locationX>14</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>InActiveAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>InActiveUser</defaultConnectorLabel>
        <rules>
            <name>IfActive</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckUserType</targetReference>
            </connector>
            <label>IfActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfBookingCCExists</name>
        <label>CheckIfBookingCCExists</label>
        <locationX>1617</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BookingCCINull</defaultConnectorLabel>
        <rules>
            <name>BookingCCINotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BookingAgencyCCICusId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CheckAgencyCCICustomerIdExists</targetReference>
            </connector>
            <label>BookingCCINotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfBookingIsSelected</name>
        <label>CheckIfBookingIsSelected</label>
        <locationX>1484</locationX>
        <locationY>128</locationY>
        <defaultConnector>
            <targetReference>CheckAgencyCCICustomerIdExists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BookingNull</defaultConnectorLabel>
        <rules>
            <name>BookingNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bookingAgencyId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>BookingAgency</targetReference>
            </connector>
            <label>BookingNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfCCICusIdisNull</name>
        <label>CheckIfCCICusIdisNull</label>
        <locationX>765</locationX>
        <locationY>20</locationY>
        <defaultConnector>
            <targetReference>AccTypeDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>CCINull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CCICusId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorScreen</targetReference>
            </connector>
            <label>CCINull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfCCICusIdisNull4Agency</name>
        <label>CheckIfCCICusIdisNull4Agency</label>
        <locationX>727</locationX>
        <locationY>805</locationY>
        <defaultConnector>
            <targetReference>CreateFinAccnSynchwidCCI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>CCINull4Agency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgencyCCICustId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorScreen</targetReference>
            </connector>
            <label>CCINull4Agency</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfCCIExistsForParent</name>
        <label>CheckIfCCIExistsForParent</label>
        <locationX>619</locationX>
        <locationY>318</locationY>
        <defaultConnector>
            <targetReference>ErrorScreenToSynchParent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CCINotExistsForParent</defaultConnectorLabel>
        <rules>
            <name>CCIExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCCIMailId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>IsParent_sParentIdNull</targetReference>
            </connector>
            <label>CCIExists4Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfCCIExistsForParent_0</name>
        <label>CheckIfCCIExistsForParent</label>
        <locationX>1399</locationX>
        <locationY>453</locationY>
        <defaultConnector>
            <targetReference>ErrorScreenToSynchParent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CCINotExists4Parent</defaultConnectorLabel>
        <rules>
            <name>CCIExists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCCIMailId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>IsParent_sParentIdNull_2</targetReference>
            </connector>
            <label>CCIExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfErrorScreenInAgencyFlow</name>
        <label>CheckIfErrorScreenInAgencyFlow</label>
        <locationX>1367</locationX>
        <locationY>140</locationY>
        <defaultConnector>
            <targetReference>BillingAgency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AgencyFlowNoError</defaultConnectorLabel>
        <rules>
            <name>AgencyFlowErrorScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bookingAgencyId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>BillingAgencyId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>AgencyFlowErrorScreen</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfIndustryPresent</name>
        <label>CheckIfIndustryPresent</label>
        <locationX>160</locationX>
        <locationY>15</locationY>
        <defaultConnector>
            <targetReference>CheckValidAccountTypes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IndustryNotNull</defaultConnectorLabel>
        <rules>
            <name>IndustryNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IndustryCategory</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Booking Agency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Billing Agency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Private Advertiser</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mail Display</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IndustryNullMessage</targetReference>
            </connector>
            <label>IndustryNullforMailDisplay</label>
        </rules>
        <rules>
            <name>IndustryNullForGroupClientSales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IndustryCategory</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Booking Agency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Billing Agency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Private Advertiser</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Group Client Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IndustryNullMessage</targetReference>
            </connector>
            <label>IndustryNullForGroupClientSales</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfTypeIsNull</name>
        <label>CheckIfTypeIsNull</label>
        <locationX>16</locationX>
        <locationY>106</locationY>
        <defaultConnector>
            <targetReference>CheckIfAccountIsActive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TypeNotNull</defaultConnectorLabel>
        <rules>
            <name>TypeNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>TypeNullMsg</targetReference>
            </connector>
            <label>TypeNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckUserType</name>
        <label>CheckUserType</label>
        <locationX>178</locationX>
        <locationY>370</locationY>
        <defaultConnector>
            <targetReference>InvalidUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>InvalidUser</defaultConnectorLabel>
        <rules>
            <name>IfMail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mail Display</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Group Client Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckIfIndustryPresent</targetReference>
            </connector>
            <label>IfMail</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckValidAccountTypes</name>
        <label>CheckValidAccountTypes</label>
        <locationX>333</locationX>
        <locationY>15</locationY>
        <defaultConnector>
            <targetReference>LookUpMailCompany</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ValidAccountTypes</defaultConnectorLabel>
        <rules>
            <name>InValidAccountTypes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Holding Company</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InvalidClientType</targetReference>
            </connector>
            <label>InValidAccountTypes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DirectAsdvertiserRouting</name>
        <label>DirectAsdvertiserRouting</label>
        <locationX>1314</locationX>
        <locationY>796</locationY>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>GoDirectly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Billing_Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DADirect</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DIDirect</targetReference>
            </connector>
            <label>GoDirectly</label>
        </rules>
        <rules>
            <name>GoViaAgency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Billing_Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DAAgency</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BilllingThruAgency</targetReference>
            </connector>
            <label>GoViaAgency</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsParent_sParentIdNull</name>
        <label>IsParent&apos;sParentIdNull</label>
        <locationX>840</locationX>
        <locationY>340</locationY>
        <defaultConnector>
            <targetReference>GetHoldingCompanyDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ParentsParentIdNotNull</defaultConnectorLabel>
        <rules>
            <name>IsParentParentIdNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentsParentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>BilllingThruAgency</targetReference>
            </connector>
            <label>IsParentParentIdNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsParent_sParentIdNull_2</name>
        <label>IsParent&apos;sParentIdNull</label>
        <locationX>1534</locationX>
        <locationY>572</locationY>
        <defaultConnector>
            <targetReference>GetHoldingCompanyDetails_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ParentsParentIdNotNull</defaultConnectorLabel>
        <rules>
            <name>IsParentParentIdNull_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentsParentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AskDirectAdvertiserOptions</targetReference>
            </connector>
            <label>IsParentParentIdNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsParentIdNull</name>
        <label>IsParentIdNull</label>
        <locationX>1071</locationX>
        <locationY>23</locationY>
        <defaultConnector>
            <targetReference>ParentAccLookUp_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ParentIdNotNull</defaultConnectorLabel>
        <rules>
            <name>IsParentIdNullTest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AskDirectAdvertiserOptions</targetReference>
            </connector>
            <label>IsParentIdNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsParentIdNull_2</name>
        <label>IsParentIdNull</label>
        <locationX>873</locationX>
        <locationY>142</locationY>
        <defaultConnector>
            <targetReference>ParentAccLookUp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ParentIdNotNull</defaultConnectorLabel>
        <rules>
            <name>IsParentIdNullTest_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>BilllingThruAgency</targetReference>
            </connector>
            <label>IsParentIdNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsToParentCCIIdNull</name>
        <label>IsToParentCCIIdNull</label>
        <locationX>186</locationX>
        <locationY>729</locationY>
        <defaultConnector>
            <targetReference>BilllingThruAgency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TopParentCCIIdNotNull</defaultConnectorLabel>
        <rules>
            <name>IsTopParentCCIIdNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TopParentCCIId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>TopParentErrorScreen</targetReference>
            </connector>
            <label>IsTopParentCCIIdNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsToParentCCIIdNull_2</name>
        <label>IsToParentCCIIdNull</label>
        <locationX>1583</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>AskDirectAdvertiserOptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TopParentCCIIdNotNull</defaultConnectorLabel>
        <rules>
            <name>IsTopParentCCIIdNull_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TopParentCCIId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>TopParentErrorScreen</targetReference>
            </connector>
            <label>IsTopParentCCIIdNull</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BillingForParemt</name>
        <dataType>String</dataType>
        <displayField>Agencyname__c</displayField>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>BillingAgencyId</assignToReference>
            <field>Account_A__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BookingForParent</name>
        <dataType>String</dataType>
        <displayField>Agencyname__c</displayField>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>bookingAgencyId</assignToReference>
            <field>Account_A__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetBillingForBookingAgency</name>
        <dataType>String</dataType>
        <displayField>Agencyname__c</displayField>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bookingAgencyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>BillingAgencyId</assignToReference>
            <field>Account_A__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetBookingAgencies</name>
        <dataType>String</dataType>
        <displayField>Agencyname__c</displayField>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>bookingAgencyId</assignToReference>
            <field>Account_A__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetParentBillingAgency</name>
        <dataType>String</dataType>
        <displayField>Agencyname__c</displayField>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>ParentBillingAgencies</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetParentId</name>
        <dataType>String</dataType>
        <displayField>ParentId</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ParentId</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
        <valueField>ParentId</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectBillingAgencies</name>
        <dataType>String</dataType>
        <displayField>Agencyname__c</displayField>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>BillingAgencyId</assignToReference>
            <field>Account_A__c</field>
        </outputAssignments>
        <sortField>Account_A__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>DirectOrderProcessingFlow</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>13</locationX>
        <locationY>10</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfTypeIsNull</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>CCICusId</assignToReference>
            <field>CCIMailCustID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IndustryCategory</assignToReference>
            <field>Industry_Minor_Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Active</assignToReference>
            <field>IsActive__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentId</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccType</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>BillingAgency</name>
        <label>BillingAgency</label>
        <locationX>1472</locationX>
        <locationY>11</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfBookingIsSelected</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BillingAgencyId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AgencyCCICustId</assignToReference>
            <field>CCIMailCustID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>BookingAgency</name>
        <label>BookingAgency</label>
        <locationX>1611</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfBookingCCExists</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bookingAgencyId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>BookingAgencyCCICusId</assignToReference>
            <field>CCIMailCustID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookUpMailCompany</name>
        <label>LookUpMailCompany</label>
        <locationX>491</locationX>
        <locationY>16</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckCCICustomerIdExists</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Mail</stringValue>
            </value>
        </filters>
        <object>Company__c</object>
        <outputAssignments>
            <assignToReference>CoId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ParentAccLookUp</name>
        <label>ParentAccLookUp</label>
        <locationX>877</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfCCIExistsForParent</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ParentCCIMailId</assignToReference>
            <field>CCIMailCustID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentCCIMetroId</assignToReference>
            <field>CCIMetroCustID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentAccType</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ParentAccLookUp_0</name>
        <label>ParentAccLookUp</label>
        <locationX>1273</locationX>
        <locationY>14</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfCCIExistsForParent_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ParentCCIMailId</assignToReference>
            <field>CCIMailCustID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentCCIMetroId</assignToReference>
            <field>CCIMetroCustID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentsParentId</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentAccType</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>AskDirectAdvertiserOptions</name>
        <label>AskDirectAdvertiserOptions</label>
        <locationX>1413</locationX>
        <locationY>723</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>DirectAsdvertiserRouting</targetReference>
        </connector>
        <fields>
            <name>GoDirectOrViaAgency</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please select How would you like to bill the Order?&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Billing_Selection</name>
            <choiceReferences>DADirect</choiceReferences>
            <choiceReferences>DAAgency</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Billing Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>472</locationX>
        <locationY>408</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>IndustryNullLabel_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;An error has occured during synchronisation with CCI.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please contact your system administrator.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click Finish to go back to Account.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ErrorScreen_1</name>
        <label>ErrorScreen</label>
        <locationX>1642</locationX>
        <locationY>468</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>IndustryNullLabel_0_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Booking Agency selected is not synchronised with CCI.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please synchronise the booking agency first and then try again.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click Finish to go back to account.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ErrorScreenToSynchParent</name>
        <label>ErrorScreenToSynchParent</label>
        <locationX>713</locationX>
        <locationY>506</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>IndustryNullLabel_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Parent Account for this account  is not synchronised with CCI.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please synchronise parent Account with CCI first and then try again.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click Finish to go back to Account.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>InActiveAccount</name>
        <label>InActiveAccount</label>
        <locationX>18</locationX>
        <locationY>466</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>IndustryNullLabel_1_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;This account is not active.Please activate the account first and then try again.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click Finish to go back to account.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>IndustryNullMessage</name>
        <label>IndustryNullMessage</label>
        <locationX>294</locationX>
        <locationY>277</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>IndustryNullLabel</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please complete Category section under Account Detail and then try again. &lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click Finish to go back to Account.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>InvalidClientType</name>
        <label>InvalidClientType</label>
        <locationX>380</locationX>
        <locationY>178</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>InvalidClientTypeFoOrder</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!AccType} cannot be used to create a Direct Order. &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;Click Finish to go back to Account &lt;/B&gt;&lt;/FONT&gt;&lt;B&gt;and create the account as one of the following:  a Brand or Client.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!AccType} cannot be used to create a Direct Order. Please click Finish to exit and create the account as one of the following:  a Brand or Client.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</helpText>
    </screens>
    <screens>
        <name>InvalidUser</name>
        <label>InvalidUser</label>
        <locationX>177</locationX>
        <locationY>505</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>IndustryNullLabel_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Current User is not authorised to perform this action.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click Finish to go back to account screen.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Successmsg</name>
        <label>Successmsg</label>
        <locationX>884</locationX>
        <locationY>624</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>succmsg</name>
            <fieldText>Billing for this Order has been configured correctly. Please select Finish to launch the CCI Booking Plugin and complete the Order.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>TopParentErrorScreen</name>
        <label>TopParentErrorScreen</label>
        <locationX>450</locationX>
        <locationY>727</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>IndustryNullLabel_0_2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Holding Company for this account is not synchronised with CCI. Please synchronise it with CCI first and then try again.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click Finish to go back to account.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>TypeNullMsg</name>
        <label>TypeNullMsg</label>
        <locationX>91</locationX>
        <locationY>204</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>IndustryNullLabel_1_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;This account has no type specified.Please update the account and then try again.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click Finish to go back to account.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Account</startElementReference>
    <subflows>
        <name>BilllingThruAgency</name>
        <label>BilllingThruAgency</label>
        <locationX>1222</locationX>
        <locationY>229</locationY>
        <connector>
            <targetReference>CheckIfErrorScreenInAgencyFlow</targetReference>
        </connector>
        <flowName>DirectAdvertiser_Agency</flowName>
        <inputAssignments>
            <name>AccId</name>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccType</name>
            <value>
                <elementReference>AccType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentId</name>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentAccType</name>
            <value>
                <elementReference>ParentAccType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserType</name>
            <value>
                <elementReference>UserType</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BillingAgencyId</assignToReference>
            <name>BillingAgencyId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>bookingAgencyId</assignToReference>
            <name>BookingAgencyId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HoldingAgencyCCIId</assignToReference>
            <name>HoldingAgencyCCIId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>CreateFinAccnSynchwidCCI</name>
        <label>CreateFinAccnSynchwidCCI</label>
        <locationX>1071</locationX>
        <locationY>802</locationY>
        <connector>
            <targetReference>Successmsg</targetReference>
        </connector>
        <flowName>FinAccCreatenSynch</flowName>
        <inputAssignments>
            <name>Billing_Selection</name>
            <value>
                <elementReference>Billing_Selection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccId</name>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccType</name>
            <value>
                <elementReference>AccType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CoId</name>
            <value>
                <elementReference>CoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BillingAgencyId</name>
            <value>
                <elementReference>BillingAgencyId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AccId</assignToReference>
            <name>AccId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sopId</assignToReference>
            <name>sopId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>DIDirect</name>
        <label>DIDirect</label>
        <locationX>1076</locationX>
        <locationY>321</locationY>
        <connector>
            <targetReference>Successmsg</targetReference>
        </connector>
        <flowName>DirectAdvertiserDirectBilling</flowName>
        <inputAssignments>
            <name>AccId</name>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CoId</name>
            <value>
                <elementReference>CoId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sopId</assignToReference>
            <name>sopId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sopSource</assignToReference>
            <name>sopSource</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AgencyCCICustId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BillingAgencyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BillingRelationshipForParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BillingRelatioship</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BookingAgencyCCICusId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>bookingAgencyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BookingCCIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BookingRelationship</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BookingRelationshipForParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCICusAgencyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCICusId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinAccs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HoldingAgencyCCIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IndustryCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentAccType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentBillingAgencies</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentCCIMailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentCCIMetroId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentsParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedAgency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Booking</stringValue>
        </value>
    </variables>
    <variables>
        <name>sopId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sopSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TopParentCCIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
