src/flows/DirectOrderProcessingFlow-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>CreateCCICustomer</name>
        <label>CreateCCICustomer</label>
        <locationX>911</locationX>
        <locationY>119</locationY>
        <apexClass>OrderCreation</apexClass>
        <connector>
            <targetReference>CheckIfCCICusIdisNull</targetReference>
        </connector>
        <inputParameters>
            <name>BillingAgency</name>
            <value>
                <elementReference>BillingAgencyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BookingAgency</name>
            <value>
                <elementReference>bookingAgencyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DBType</name>
            <value>
                <elementReference>DbType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CCICusId</assignToReference>
            <name>CCICusId</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>CreateCCICustomer_0</name>
        <label>CreateCCICustomer</label>
        <locationX>1105</locationX>
        <locationY>683</locationY>
        <apexClass>OrderCreation</apexClass>
        <connector>
            <targetReference>CheckIfCCICusIdisNull4Agency</targetReference>
        </connector>
        <inputParameters>
            <name>BillingAgency</name>
            <value>
                <elementReference>BillingAgencyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BookingAgency</name>
            <value>
                <elementReference>bookingAgencyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DBType</name>
            <value>
                <elementReference>DbType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>BillingAgencyId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>AgencyCCICustId</assignToReference>
            <name>CCICusId</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>GetHoldingCompanyDetails</name>
        <label>GetHoldingCompanyDetails</label>
        <locationX>1802</locationX>
        <locationY>790</locationY>
        <apexClass>HoldingCompanyDetails</apexClass>
        <connector>
            <targetReference>IsToParentCCIIdNull</targetReference>
        </connector>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userType</name>
            <value>
                <elementReference>UserType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>TopParentCCIId</assignToReference>
            <name>TopParentCCIId</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>GetHoldingCompanyDetails_2</name>
        <label>GetHoldingCompanyDetails</label>
        <locationX>2405</locationX>
        <locationY>663</locationY>
        <apexClass>HoldingCompanyDetails</apexClass>
        <connector>
            <targetReference>IsToParentCCIIdNull_2</targetReference>
        </connector>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userType</name>
            <value>
                <elementReference>UserType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>TopParentCCIId</assignToReference>
            <name>TopParentCCIId</name>
        </outputParameters>
    </apexPluginCalls>
    <assignments>
        <name>AssignBillingAccId4Contact</name>
        <label>AssignBillingAccId4Contact</label>
        <locationX>800</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>ContactAccId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingAgencyId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBookingAccId4Contact</name>
        <label>AssignBookingAccId4Contact</label>
        <locationX>983</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>ContactAccId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>bookingAgencyId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBrandOptionError_0</name>
        <label>AssignBrandOptionError</label>
        <locationX>2023</locationX>
        <locationY>196</locationY>
        <assignmentItems>
            <assignToReference>ErrorNoBrandOptionSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please select an option first and then press Next.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Brand_Billing_Options</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBrandOptionError_0_0</name>
        <label>AssignBrandOptionError</label>
        <locationX>1950</locationX>
        <locationY>297</locationY>
        <assignmentItems>
            <assignToReference>ErrorNoBrandOptionSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please select an option first and then press Next.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Brand_Billing_Options_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDAOptionError</name>
        <label>AssignDAOptionError</label>
        <locationX>1791</locationX>
        <locationY>304</locationY>
        <assignmentItems>
            <assignToReference>ErrorNoDASelection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please select an option first and then press Next.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AskDirectAdvertiserOptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDirectAccId4Contact</name>
        <label>AssignDirectAccId4Contact</label>
        <locationX>637</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>ContactAccId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMailVariables</name>
        <label>AssignMailVariables</label>
        <locationX>317</locationX>
        <locationY>248</locationY>
        <assignmentItems>
            <assignToReference>CCICusId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CCiMailCusId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DbType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIfIndustryPresent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMetroVariables</name>
        <label>AssignMetroVariables</label>
        <locationX>484</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>CCICusId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CCIMetroCusId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DbType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Metro</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIfIndustryPresent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignParentAsBillingAgency</name>
        <label>AssignParentAsBillingAgency</label>
        <locationX>1454</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>BillingAgencyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIfErrorScreenInAgencyFlow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MailAgencyIdAssignment</name>
        <label>MailAgencyIdAssignment</label>
        <locationX>1175</locationX>
        <locationY>1049</locationY>
        <assignmentItems>
            <assignToReference>AgencyCCICustId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AgencyCCIMailCusId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingAgencyCCICusId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BookingAgencyMailCCICus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIfBookingIsSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MetroAgencyIdAssignment</name>
        <label>MetroAgencyIdAssignment</label>
        <locationX>1019</locationX>
        <locationY>1047</locationY>
        <assignmentItems>
            <assignToReference>AgencyCCICustId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AgencyCCIMetroCusId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingAgencyCCICusId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BookingAgencyMetroCCICusId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIfBookingIsSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateUserSelectedGroupAndProfile</name>
        <label>UpdateUserSelectedGroupAndProfile</label>
        <locationX>640</locationX>
        <locationY>1056</locationY>
        <assignmentItems>
            <assignToReference>UserSelectedGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CCIGroup1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserSelectedProfile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CCIProfile1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Successmsg</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Agency</name>
        <choiceText>Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DAAgency</stringValue>
        </value>
    </choices>
    <choices>
        <name>Booking_Agency</name>
        <choiceText>Booking Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Booking</stringValue>
        </value>
    </choices>
    <choices>
        <name>BrandAgency</name>
        <choiceText>Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agency</stringValue>
        </value>
    </choices>
    <choices>
        <name>DAAgency</name>
        <choiceText>Via Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DAAgency</stringValue>
        </value>
    </choices>
    <choices>
        <name>DADirect</name>
        <choiceText>Direct</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DADirect</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct</name>
        <choiceText>Direct</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct</stringValue>
        </value>
    </choices>
    <choices>
        <name>Directly</name>
        <choiceText>Directly</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Dr</name>
        <choiceText>Dr.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dr.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mr</name>
        <choiceText>Mr.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mr.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mrs</name>
        <choiceText>Mrs.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mrs.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ms</name>
        <choiceText>Ms.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ms.</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Contact</name>
        <choiceText>New Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Parent</name>
        <choiceText>Parent</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>parentchoicevalue</elementReference>
        </value>
    </choices>
    <choices>
        <name>Parent_Agency</name>
        <choiceText>Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agency</stringValue>
        </value>
    </choices>
    <choices>
        <name>Please_Select</name>
        <choiceText>Please Select</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PleaseSelect</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prof</name>
        <choiceText>Prof.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prof.</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Acc_Required_info_for_Direct_Billing</name>
        <label>Acc Required info for Direct Billing</label>
        <locationX>1603</locationX>
        <locationY>61</locationY>
        <defaultConnector>
            <targetReference>Error_Required_Info_Missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccBillingPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>AccBillingStreet</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>AccPhone</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>DIDirect</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>AccTypeDecision</name>
        <label>AccType</label>
        <locationX>2354</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IsParentIdNull_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoDA</defaultConnectorLabel>
        <rules>
            <name>DA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Advertiser</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Charity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsParentIdNull</targetReference>
            </connector>
            <label>DAnBrand</label>
        </rules>
        <rules>
            <name>PrivateAdvertiser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private Advertiser</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DIDirect</targetReference>
            </connector>
            <label>PrivateAdvertiser</label>
        </rules>
        <rules>
            <name>Brand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand</stringValue>
                </rightValue>
            </conditions>
            <label>Brand</label>
        </rules>
    </decisions>
    <decisions>
        <name>AssignRelaventAccIf4Contact</name>
        <label>AssignRelaventAccIf4Contact</label>
        <locationX>986</locationX>
        <locationY>333</locationY>
        <defaultConnector>
            <targetReference>AssignDirectAccId4Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DAExists</defaultConnectorLabel>
        <rules>
            <name>BookingExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bookingAgencyId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AssignBookingAccId4Contact</targetReference>
            </connector>
            <label>BookingExists</label>
        </rules>
        <rules>
            <name>BillingExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BillingAgencyId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AssignBillingAccId4Contact</targetReference>
            </connector>
            <label>BillingExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Brand_Billing_Option_Selection</name>
        <label>Brand Billing Option Selection</label>
        <locationX>1768</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>AssignParentAsBillingAgency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent</defaultConnectorLabel>
        <rules>
            <name>Brand_Direct</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Billing_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Direct</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Options_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Direct</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acc_Required_info_for_Direct_Billing</targetReference>
            </connector>
            <label>Direct</label>
        </rules>
        <rules>
            <name>Brand_Parent_Agency</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Billing_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Parent_Agency</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Options_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Parent_Agency</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BilllingThruAgency</targetReference>
            </connector>
            <label>Agency</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChechDBType</name>
        <label>ChechDBType</label>
        <locationX>1167</locationX>
        <locationY>948</locationY>
        <defaultConnector>
            <targetReference>MetroAgencyIdAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Metro</defaultConnectorLabel>
        <rules>
            <name>Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DbType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MailAgencyIdAssignment</targetReference>
            </connector>
            <label>Mail</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckAgencyCCICustomerIdExists</name>
        <label>CheckAgencyCCICustomerIdExists</label>
        <locationX>1297</locationX>
        <locationY>687</locationY>
        <defaultConnector>
            <targetReference>CreateCCICustomer_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>CCICustomer4AgencyExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgencyCCICustId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CreateFinAccnSynchwidCCI</targetReference>
            </connector>
            <label>CCICustomer4AgencyExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCCICustomerIdExists</name>
        <label>CheckCCICustomerIdExists</label>
        <locationX>852</locationX>
        <locationY>11</locationY>
        <defaultConnector>
            <targetReference>CreateCCICustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>CCICustomerExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CCICusId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CheckIfCCICusIdisNull</targetReference>
            </connector>
            <label>CCICustomerExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfAccountIsActive</name>
        <label>CheckIfAccountIsActive</label>
        <locationX>18</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>InActiveAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>InActiveUser</defaultConnectorLabel>
        <rules>
            <name>IfActive</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckUserType</targetReference>
            </connector>
            <label>IfActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfBookingCCExists</name>
        <label>CheckIfBookingCCExists</label>
        <locationX>1013</locationX>
        <locationY>822</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BookingCCINull</defaultConnectorLabel>
        <rules>
            <name>BookingCCINotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BookingAgencyCCICusId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CheckAgencyCCICustomerIdExists</targetReference>
            </connector>
            <label>BookingCCINotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfBookingIsSelected</name>
        <label>CheckIfBookingIsSelected</label>
        <locationX>1006</locationX>
        <locationY>938</locationY>
        <defaultConnector>
            <targetReference>CheckAgencyCCICustomerIdExists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BookingNull</defaultConnectorLabel>
        <rules>
            <name>BookingNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bookingAgencyId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CheckIfBookingCCExists</targetReference>
            </connector>
            <label>BookingNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfBrandOptionSelected_0</name>
        <label>CheckIfBrandOptionSelected</label>
        <locationX>1952</locationX>
        <locationY>63</locationY>
        <defaultConnector>
            <targetReference>AssignBrandOptionError_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BrandOptionNotSelected</defaultConnectorLabel>
        <rules>
            <name>BrandOptionSelected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Billing_Options</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Please_Select</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Brand_Billing_Option_Selection</targetReference>
            </connector>
            <label>BrandOptionSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfBrandOptionSelected_0_0</name>
        <label>CheckIfBrandOptionSelected</label>
        <locationX>2084</locationX>
        <locationY>307</locationY>
        <defaultConnector>
            <targetReference>AssignBrandOptionError_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BrandOptionNotSelected</defaultConnectorLabel>
        <rules>
            <name>BrandOptionSelected_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Billing_Options_0</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Please_Select</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Brand_Billing_Option_Selection</targetReference>
            </connector>
            <label>BrandOptionSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfCCICusIdisNull</name>
        <label>CheckIfCCICusIdisNull</label>
        <locationX>1108</locationX>
        <locationY>5</locationY>
        <defaultConnector>
            <targetReference>AccTypeDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>CCINull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CCICusId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorScreen</targetReference>
            </connector>
            <label>CCINull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfCCICusIdisNull4Agency</name>
        <label>CheckIfCCICusIdisNull4Agency</label>
        <locationX>1107</locationX>
        <locationY>565</locationY>
        <defaultConnector>
            <targetReference>CreateFinAccnSynchwidCCI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pass</defaultConnectorLabel>
        <rules>
            <name>CCINull4Agency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgencyCCICustId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorScreen</targetReference>
            </connector>
            <label>CCINull4Agency</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfCCIExistsForParent</name>
        <label>CheckIfCCIExistsForParent</label>
        <locationX>2039</locationX>
        <locationY>795</locationY>
        <defaultConnector>
            <targetReference>ErrorScreenToSynchParent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CCINotExistsForParent</defaultConnectorLabel>
        <rules>
            <name>CCIExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCCIMailId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>IsParent_sParentIdNull</targetReference>
            </connector>
            <label>CCIExists4Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfCCIExistsForParent_0</name>
        <label>CheckIfCCIExistsForParent</label>
        <locationX>2731</locationX>
        <locationY>532</locationY>
        <defaultConnector>
            <targetReference>ErrorScreenToSynchParent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CCINotExists4Parent</defaultConnectorLabel>
        <rules>
            <name>CCIExists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCCIMailId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>DbType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsParent_sParentIdNull_2</targetReference>
            </connector>
            <label>CCIMailExists</label>
        </rules>
        <rules>
            <name>CCiMetroExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCCIMetroId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>DbType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Metro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsParent_sParentIdNull_2</targetReference>
            </connector>
            <label>CCiMetroExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfDAOptionSelected</name>
        <label>CheckIfDAOptionSelected</label>
        <locationX>1746</locationX>
        <locationY>415</locationY>
        <defaultConnector>
            <targetReference>AssignDAOptionError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DAOptionNotSelected</defaultConnectorLabel>
        <rules>
            <name>DAOptionSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Billing_Selection</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Please_Select</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DirectAsdvertiserRouting</targetReference>
            </connector>
            <label>DAOptionSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfErrorScreenInAgencyFlow</name>
        <label>CheckIfErrorScreenInAgencyFlow</label>
        <locationX>1453</locationX>
        <locationY>797</locationY>
        <defaultConnector>
            <targetReference>BillingAgency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AgencyFlowNoError</defaultConnectorLabel>
        <rules>
            <name>AgencyFlowErrorScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bookingAgencyId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>BillingAgencyId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>AgencyFlowErrorScreen</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfHoldingAgencySynch</name>
        <label>CheckIfHoldingAgencySynch</label>
        <locationX>1422</locationX>
        <locationY>574</locationY>
        <defaultConnector>
            <targetReference>CheckIfErrorScreenInAgencyFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SynchedOrNotExist</defaultConnectorLabel>
        <rules>
            <name>HoldingAgencyNotSynched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgencysParent</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>HoldingAgencyCCIId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>HoldingAgencyNotSynchError</targetReference>
            </connector>
            <label>HoldingAgencyNotSynched</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfIndustryPresent</name>
        <label>CheckIfIndustryPresent</label>
        <locationX>418</locationX>
        <locationY>136</locationY>
        <defaultConnector>
            <targetReference>CheckValidAccountTypes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IndustryNotNull</defaultConnectorLabel>
        <rules>
            <name>IndustryNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IndustryCategory</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Booking Agency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Billing Agency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Private Advertiser</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mail Display</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IndustryNullMessage</targetReference>
            </connector>
            <label>IndustryNullforMailDisplay</label>
        </rules>
        <rules>
            <name>IndustryNullForGroupClientSales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IndustryCategory</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Booking Agency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Billing Agency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Private Advertiser</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Group Client Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IndustryNullMessage</targetReference>
            </connector>
            <label>IndustryNullForGroupClientSales</label>
        </rules>
        <rules>
            <name>IndustryNullForMetroDisplay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IndustryCategory</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>UserType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Metro Display</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Booking Agency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Billing Agency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Private Advertiser</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IndustryNullMessage</targetReference>
            </connector>
            <label>IndustryNullForMetroDisplay</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfTypeIsNull</name>
        <label>CheckIfTypeIsNull</label>
        <locationX>16</locationX>
        <locationY>106</locationY>
        <defaultConnector>
            <targetReference>CheckIfAccountIsActive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TypeNotNull</defaultConnectorLabel>
        <rules>
            <name>TypeNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>TypeNullMsg</targetReference>
            </connector>
            <label>TypeNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckNoOfProfilesAndGroups</name>
        <label>CheckNoOfProfilesAndGroups</label>
        <locationX>643</locationX>
        <locationY>938</locationY>
        <defaultConnector>
            <targetReference>CCIGroupsAndProfiles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MoreThanOneProfileAndGroup</defaultConnectorLabel>
        <rules>
            <name>OnlyOneProfileAndGroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfCCIProfiles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoOfCCIGroups</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateUserSelectedGroupAndProfile</targetReference>
            </connector>
            <label>OnlyOneProfileAndGroup</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckUserType</name>
        <label>CheckUserType</label>
        <locationX>426</locationX>
        <locationY>377</locationY>
        <defaultConnector>
            <targetReference>InvalidUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>InvalidUser</defaultConnectorLabel>
        <rules>
            <name>IfMail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mail Display</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Group Client Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mail Classified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMailVariables</targetReference>
            </connector>
            <label>Mail</label>
        </rules>
        <rules>
            <name>Metro</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Metro Display</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>London Classified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMetroVariables</targetReference>
            </connector>
            <label>Metro</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckValidAccountTypes</name>
        <label>CheckValidAccountTypes</label>
        <locationX>417</locationX>
        <locationY>11</locationY>
        <defaultConnector>
            <targetReference>LookUpCompany</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ValidAccountTypes</defaultConnectorLabel>
        <rules>
            <name>InValidAccountTypes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Holding Company</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InvalidClientType</targetReference>
            </connector>
            <label>InValidAccountTypes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DA_CharityOrBrand</name>
        <label>DA/CharityOrBrand</label>
        <locationX>2234</locationX>
        <locationY>404</locationY>
        <defaultConnector>
            <targetReference>AskDirectAdvertiserOptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DA/Charity</defaultConnectorLabel>
        <rules>
            <name>BrandType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentAccType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Advertiser</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Brand_Billing_Options_0</targetReference>
            </connector>
            <label>BrandWithDAParent</label>
        </rules>
        <rules>
            <name>BrandW_ODAParent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentAccType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Direct Advertiser</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Brand_Billing_Options</targetReference>
            </connector>
            <label>BrandW/ODAParent</label>
        </rules>
    </decisions>
    <decisions>
        <name>DirectAsdvertiserRouting</name>
        <label>DirectAsdvertiserRouting</label>
        <locationX>1604</locationX>
        <locationY>410</locationY>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>GoDirectly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Billing_Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DADirect</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DIDirect</targetReference>
            </connector>
            <label>GoDirectly</label>
        </rules>
        <rules>
            <name>GoViaAgency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Billing_Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DAAgency</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BilllingThruAgency</targetReference>
            </connector>
            <label>GoViaAgency</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsParent_sParentIdNull</name>
        <label>IsParent&apos;sParentIdNull</label>
        <locationX>1803</locationX>
        <locationY>662</locationY>
        <defaultConnector>
            <targetReference>GetHoldingCompanyDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ParentsParentIdNotNull</defaultConnectorLabel>
        <rules>
            <name>IsParentParentIdNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentsParentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>BilllingThruAgency</targetReference>
            </connector>
            <label>IsParentParentIdNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsParent_sParentIdNull_2</name>
        <label>IsParent&apos;sParentIdNull</label>
        <locationX>2405</locationX>
        <locationY>532</locationY>
        <defaultConnector>
            <targetReference>GetHoldingCompanyDetails_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ParentsParentIdNotNull</defaultConnectorLabel>
        <rules>
            <name>IsParentParentIdNull_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentsParentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>DA_CharityOrBrand</targetReference>
            </connector>
            <label>IsParentParentIdNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsParentIdNull</name>
        <label>IsParentIdNull</label>
        <locationX>2465</locationX>
        <locationY>414</locationY>
        <defaultConnector>
            <targetReference>ParentAccLookUp_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ParentIdNotNull</defaultConnectorLabel>
        <rules>
            <name>IsParentIdNullTest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>DA_CharityOrBrand</targetReference>
            </connector>
            <label>IsParentIdNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsParentIdNull_2</name>
        <label>IsParentIdNull</label>
        <locationX>2038</locationX>
        <locationY>536</locationY>
        <defaultConnector>
            <targetReference>ParentAccLookUp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ParentIdNotNull</defaultConnectorLabel>
        <rules>
            <name>IsParentIdNullTest_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>BilllingThruAgency</targetReference>
            </connector>
            <label>IsParentIdNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsToParentCCIIdNull</name>
        <label>IsToParentCCIIdNull</label>
        <locationX>1626</locationX>
        <locationY>963</locationY>
        <defaultConnector>
            <targetReference>BilllingThruAgency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TopParentCCIIdNotNull</defaultConnectorLabel>
        <rules>
            <name>IsTopParentCCIIdNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TopParentCCIId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>TopParentErrorScreen</targetReference>
            </connector>
            <label>IsTopParentCCIIdNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsToParentCCIIdNull_2</name>
        <label>IsToParentCCIIdNull</label>
        <locationX>2224</locationX>
        <locationY>649</locationY>
        <defaultConnector>
            <targetReference>DA_CharityOrBrand</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TopParentCCIIdNotNull</defaultConnectorLabel>
        <rules>
            <name>IsTopParentCCIIdNull_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TopParentCCIId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>TopParentErrorScreen</targetReference>
            </connector>
            <label>IsTopParentCCIIdNull</label>
        </rules>
    </decisions>
    <description>Direct Order  - Change to a Contact Flow</description>
    <dynamicChoiceSets>
        <name>Accounts4Contact</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactAccId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Acc4Contact</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BillingForParemt</name>
        <dataType>String</dataType>
        <displayField>Agencyname__c</displayField>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>BillingAgencyId</assignToReference>
            <field>Account_A__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BookingForParent</name>
        <dataType>String</dataType>
        <displayField>Agencyname__c</displayField>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>bookingAgencyId</assignToReference>
            <field>Account_A__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FindContact</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactAccId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetBillingForBookingAgency</name>
        <dataType>String</dataType>
        <displayField>Agencyname__c</displayField>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bookingAgencyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>BillingAgencyId</assignToReference>
            <field>Account_A__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetBookingAgencies</name>
        <dataType>String</dataType>
        <displayField>Agencyname__c</displayField>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>bookingAgencyId</assignToReference>
            <field>Account_A__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetParentBillingAgency</name>
        <dataType>String</dataType>
        <displayField>Agencyname__c</displayField>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>ParentBillingAgencies</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetParentId</name>
        <dataType>String</dataType>
        <displayField>ParentId</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ParentId</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
        <valueField>ParentId</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectBillingAgencies</name>
        <dataType>String</dataType>
        <displayField>Agencyname__c</displayField>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>BillingAgencyId</assignToReference>
            <field>Account_A__c</field>
        </outputAssignments>
        <sortField>Account_A__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>DirectOrderProcessingFlow</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>13</locationX>
        <locationY>11</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfTypeIsNull</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccBillingPostalCode</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccBillingStreet</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CCiMailCusId</assignToReference>
            <field>CCIMailCustID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CCIMetroCusId</assignToReference>
            <field>CCIMetroCustID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IndustryCategory</assignToReference>
            <field>Industry_Minor_Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Active</assignToReference>
            <field>IsActive__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentId</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccType</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>BillingAgency</name>
        <label>BillingAgency</label>
        <locationX>1472</locationX>
        <locationY>953</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BookingAgency</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BillingAgencyId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AgencyCCIMailCusId</assignToReference>
            <field>CCIMailCustID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AgencyCCIMetroCusId</assignToReference>
            <field>CCIMetroCustID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>BookingAgency</name>
        <label>BookingAgency</label>
        <locationX>1316</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChechDBType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bookingAgencyId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>BookingAgencyMailCCICus</assignToReference>
            <field>CCIMailCustID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BookingAgencyMetroCCICusId</assignToReference>
            <field>CCIMetroCustID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookUpCompany</name>
        <label>LookUpCompany</label>
        <locationX>659</locationX>
        <locationY>12</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckCCICustomerIdExists</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>DbType</elementReference>
            </value>
        </filters>
        <object>Company__c</object>
        <outputAssignments>
            <assignToReference>CoId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ParentAccLookUp</name>
        <label>ParentAccLookUp</label>
        <locationX>2038</locationX>
        <locationY>682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfCCIExistsForParent</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ParentCCIMailId</assignToReference>
            <field>CCIMailCustID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentCCIMetroId</assignToReference>
            <field>CCIMetroCustID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentsParentId</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentAccType</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ParentAccLookUp_0</name>
        <label>ParentAccLookUp</label>
        <locationX>2721</locationX>
        <locationY>418</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfCCIExistsForParent_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ParentCCIMailId</assignToReference>
            <field>CCIMailCustID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentCCIMetroId</assignToReference>
            <field>CCIMetroCustID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentsParentId</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentAccType</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>AskDirectAdvertiserOptions</name>
        <label>AskDirectAdvertiserOptions</label>
        <locationX>1880</locationX>
        <locationY>409</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>CheckIfDAOptionSelected</targetReference>
        </connector>
        <fields>
            <name>ErrorNoDASelectionMsg</name>
            <fieldText>{!ErrorNoDASelection}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GoDirectOrViaAgency</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please select How would you like to bill the Order?&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Billing_Selection</name>
            <choiceReferences>DADirect</choiceReferences>
            <choiceReferences>DAAgency</choiceReferences>
            <choiceReferences>Please_Select</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Please_Select</defaultSelectedChoiceReference>
            <fieldText>Billing Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Brand_Billing_Options</name>
        <label>Brand Billing Options</label>
        <locationX>2108</locationX>
        <locationY>32</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>CheckIfBrandOptionSelected_0</targetReference>
        </connector>
        <fields>
            <name>ErrorNoBrandOptionSelectedMsg</name>
            <fieldText>{!ErrorNoBrandOptionSelected}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Billing_Options</name>
            <choiceReferences>Direct</choiceReferences>
            <choiceReferences>Parent_Agency</choiceReferences>
            <choiceReferences>Please_Select</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Please_Select</defaultSelectedChoiceReference>
            <fieldText>Billing Options</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Brand_Billing_Options_0</name>
        <label>Brand Billing OptionsWidParent</label>
        <locationX>2272</locationX>
        <locationY>140</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>CheckIfBrandOptionSelected_0_0</targetReference>
        </connector>
        <fields>
            <name>ErrorNoBrandOptionSelectedMsg_0</name>
            <fieldText>{!ErrorNoBrandOptionSelected}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Billing_Options_0</name>
            <choiceReferences>Direct</choiceReferences>
            <choiceReferences>Parent</choiceReferences>
            <choiceReferences>Parent_Agency</choiceReferences>
            <choiceReferences>Please_Select</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Please_Select</defaultSelectedChoiceReference>
            <fieldText>Billing Options</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Error_Required_Info_Missing</name>
        <label>Error - Required Info Missing</label>
        <locationX>1336</locationX>
        <locationY>61</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>RequiredInfomissing</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;To Bill directly to a Brand, the Brand must have the following fields populated &lt;/FONT&gt;&lt;/SPAN&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Phone&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Billing Street&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Billing Postal Code&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>1107</locationX>
        <locationY>141</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>IndustryNullLabel_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;An error has occured during synchronisation with CCI.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please contact your system administrator.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click Finish to go back to Account.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ErrorScreen_1</name>
        <label>ErrorScreen</label>
        <locationX>825</locationX>
        <locationY>936</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>IndustryNullLabel_0_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Booking Agency selected is not synchronised with CCI.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please synchronise the booking agency first and then try again.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click Finish to go back to account.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ErrorScreenToSynchParent</name>
        <label>ErrorScreenToSynchParent</label>
        <locationX>2730</locationX>
        <locationY>791</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>IndustryNullLabel_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Parent Account for this account  is not synchronised with CCI.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please synchronise parent Account with CCI first and then try again.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click Finish to go back to Account.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>HoldingAgencyNotSynchError</name>
        <label>HoldingAgencyNotSynchError</label>
        <locationX>1575</locationX>
        <locationY>667</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>HoldingAgencySynchError</name>
            <fieldText>Holding Company for this agency(booking agency if it been selected else billing agency) is not synchronised with CCI. Please synchronise it with CCI first and then try again.
Click Finish to go back to account.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>InActiveAccount</name>
        <label>InActiveAccount</label>
        <locationX>21</locationX>
        <locationY>451</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>IndustryNullLabel_1_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;This account is not active. Please activate the account first and then try again.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click Finish to go back to account.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>IndustryNullMessage</name>
        <label>IndustryNullMessage</label>
        <locationX>166</locationX>
        <locationY>219</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>IndustryNullLabel</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please complete Category section under Account Detail and then try again. &lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click Finish to go back to Account.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>InvalidClientType</name>
        <label>InvalidClientType</label>
        <locationX>143</locationX>
        <locationY>11</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>InvalidClientTypeFoOrder</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!AccType} cannot be used to create a Direct Order. &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;Click Finish to go back to Account &lt;/B&gt;&lt;/FONT&gt;&lt;B&gt;and create the account as one of the following:  a Brand or Client.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!AccType} cannot be used to create a Direct Order. Please click Finish to exit and create the account as one of the following:  a Brand or Client.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</helpText>
    </screens>
    <screens>
        <name>InvalidUser</name>
        <label>InvalidUser</label>
        <locationX>426</locationX>
        <locationY>486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>IndustryNullLabel_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Current User is not authorised to perform this action.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click Finish to go back to account screen.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Successmsg</name>
        <label>Successmsg</label>
        <locationX>640</locationX>
        <locationY>1184</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>succmsg</name>
            <fieldText>Billing for this Order has been configured correctly. Please select Finish to launch the CCI Booking Plugin and complete the Order.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>TopParentErrorScreen</name>
        <label>TopParentErrorScreen</label>
        <locationX>2225</locationX>
        <locationY>951</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>IndustryNullLabel_0_2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Holding Company for this account is not synchronised with CCI. Please synchronise it with CCI first and then try again.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click Finish to go back to account.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>TypeNullMsg</name>
        <label>TypeNullMsg</label>
        <locationX>200</locationX>
        <locationY>112</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>IndustryNullLabel_1_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;This account has no type specified. Please update the account and then try again.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click Finish to go back to account.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Account</startElementReference>
    <subflows>
        <name>BilllingThruAgency</name>
        <label>BilllingThruAgency</label>
        <locationX>1607</locationX>
        <locationY>534</locationY>
        <connector>
            <targetReference>CheckIfHoldingAgencySynch</targetReference>
        </connector>
        <flowName>DirectAdvertiser_Agency</flowName>
        <inputAssignments>
            <name>AccId</name>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccType</name>
            <value>
                <elementReference>AccType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentId</name>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentAccType</name>
            <value>
                <elementReference>ParentAccType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserType</name>
            <value>
                <elementReference>UserType</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BillingAgencyId</assignToReference>
            <name>BillingAgencyId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>bookingAgencyId</assignToReference>
            <name>BookingAgencyId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HoldingAgencyCCIId</assignToReference>
            <name>HoldingAgencyCCIId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AgencysParent</assignToReference>
            <name>AgencysParent</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>CCIGroupsAndProfiles</name>
        <label>CCIGroupsAndProfiles</label>
        <locationX>289</locationX>
        <locationY>994</locationY>
        <connector>
            <targetReference>Successmsg</targetReference>
        </connector>
        <flowName>CCIGroupsAndProfiles</flowName>
        <inputAssignments>
            <name>CCIGroup1</name>
            <value>
                <elementReference>CCIGroup1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CCIGroup2</name>
            <value>
                <elementReference>CCIGroup2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CCIGroup3</name>
            <value>
                <elementReference>CCIGroup3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CCIProfile1</name>
            <value>
                <elementReference>CCIProfile1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CCIProfile2</name>
            <value>
                <elementReference>CCIProfile2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CCIProfile3</name>
            <value>
                <elementReference>CCIProfile3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CCIGroup4</name>
            <value>
                <elementReference>CCIGroup4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CCIGroup5</name>
            <value>
                <elementReference>CCIGroup5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CCIProfile4</name>
            <value>
                <elementReference>CCIProfile4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CCIProfile5</name>
            <value>
                <elementReference>CCIProfile5</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>UserSelectedGroup</assignToReference>
            <name>UserSelectedGroup</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserSelectedProfile</assignToReference>
            <name>UserSelectedProfile</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>CreateFinAccnSynchwidCCI</name>
        <label>CreateFinAccnSynchwidCCI</label>
        <locationX>1294</locationX>
        <locationY>533</locationY>
        <connector>
            <targetReference>AssignRelaventAccIf4Contact</targetReference>
        </connector>
        <flowName>FinAccCreatenSynch</flowName>
        <inputAssignments>
            <name>Billing_Selection</name>
            <value>
                <elementReference>Billing_Selection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccId</name>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccType</name>
            <value>
                <elementReference>AccType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CoId</name>
            <value>
                <elementReference>CoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BillingAgencyId</name>
            <value>
                <elementReference>BillingAgencyId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AccId</assignToReference>
            <name>AccId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sopId</assignToReference>
            <name>sopId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>DIDirect</name>
        <label>DIDirect</label>
        <locationX>1603</locationX>
        <locationY>259</locationY>
        <connector>
            <targetReference>AssignRelaventAccIf4Contact</targetReference>
        </connector>
        <flowName>DirectAdvertiserDirectBilling</flowName>
        <inputAssignments>
            <name>AccId</name>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CoId</name>
            <value>
                <elementReference>CoId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sopId</assignToReference>
            <name>sopId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sopSource</assignToReference>
            <name>sopSource</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>SelectContact</name>
        <label>SelectContact</label>
        <locationX>659</locationX>
        <locationY>430</locationY>
        <connector>
            <targetReference>CheckNoOfProfilesAndGroups</targetReference>
        </connector>
        <flowName>SelectContact</flowName>
        <inputAssignments>
            <name>ContactAccId</name>
            <value>
                <elementReference>ContactAccId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>contactid</assignToReference>
            <name>contactid</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Acc4Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccBillingPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccBillingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Account Phone in Glue</description>
        <name>AccPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AgencyCCICustId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AgencyCCIMailCusId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AgencyCCIMetroCusId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AgencysParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssignedContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BillingAgencyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BillingRelationshipForParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BillingRelatioship</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BookingAgencyCCICusId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>bookingAgencyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BookingAgencyMailCCICus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BookingAgencyMetroCCICusId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BookingCCIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BookingRelationship</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BookingRelationshipForParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCICusAgencyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCICusId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIGroup1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIGroup2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIGroup3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIGroup4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIGroup5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIGroups</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCiMailCusId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CCIMetroCusId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CCIProfile1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIProfile2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIProfile3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIProfile4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIProfile5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIProfiles</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactAccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DbType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Error4Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorNoBrandOptionSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorNoDASelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinAccs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HoldingAgencyCCIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IndustryCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NoOfCCIGroups</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NoOfCCIProfiles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ParentAccType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentBillingAgencies</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentCCIMailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentCCIMetroId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>parentchoicevalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentsParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedAgency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Booking</stringValue>
        </value>
    </variables>
    <variables>
        <name>sopId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sopSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TopParentCCIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserSelectedGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserSelectedProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
