src/flows/FinAccCreatenSynch-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>CCIAccountCreation</name>
        <label>CCIAccountCreation</label>
        <locationX>309</locationX>
        <locationY>401</locationY>
        <apexClass>CCIAccountCreationFromFlow</apexClass>
        <connector>
            <targetReference>ScreenBusyMsg</targetReference>
        </connector>
        <inputParameters>
            <name>FinAccs</name>
            <value>
                <elementReference>FinAccs</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>sopId</assignToReference>
            <name>sopId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>sopSource</assignToReference>
            <name>sopSource</name>
        </outputParameters>
    </apexPluginCalls>
    <choices>
        <name>DADirect</name>
        <choiceText>DADirect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DADirect</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckFinAccsExist</name>
        <label>CheckFinAccsExist</label>
        <locationX>310</locationX>
        <locationY>38</locationY>
        <defaultConnector>
            <targetReference>CreateFinAcc4Agency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DoNotExist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinAccs</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CheckSopIdExists</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
        <rules>
            <name>NoAcc4DA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinAccs</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DADirect</elementReference>
                </rightValue>
            </conditions>
            <label>NoAcc4DA</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSopIdExists</name>
        <label>CheckSopIdExists</label>
        <locationX>579</locationX>
        <locationY>227</locationY>
        <defaultConnector>
            <targetReference>CCIAccountCreation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>SopIdExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sopId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>sopSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCI</stringValue>
                </rightValue>
            </conditions>
            <label>SopIdExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSopIdExists_0</name>
        <label>CheckSopIdExists</label>
        <locationX>616</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>ScreenBusyMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>SopIdExists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sopId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>sopSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCI</stringValue>
                </rightValue>
            </conditions>
            <label>SopIdExists</label>
        </rules>
    </decisions>
    <label>FinAccCreatenSynch</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateFinAcc4Agency</name>
        <label>CreateFinAcc4Agency</label>
        <locationX>308</locationX>
        <locationY>218</locationY>
        <assignRecordIdToReference>FinAccs</assignRecordIdToReference>
        <connector>
            <targetReference>CCIAccountCreation</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>BillingAgencyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>CoId</elementReference>
            </value>
        </inputAssignments>
        <object>FinanceAccount__c</object>
    </recordCreates>
    <recordLookups>
        <name>LookUpFinAcc4Agency</name>
        <label>LookUpFinAcc4Agency</label>
        <locationX>83</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckFinAccsExist</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BillingAgencyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CoId</elementReference>
            </value>
        </filters>
        <object>FinanceAccount__c</object>
        <outputAssignments>
            <assignToReference>FinAccs</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sopId</assignToReference>
            <field>SOP_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sopSource</assignToReference>
            <field>SOP_Source__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookUpFinAcc4Agency_0</name>
        <label>LookUpFinAcc4Agency</label>
        <locationX>313</locationX>
        <locationY>722</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckSopIdExists_0</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BillingAgencyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CoId</elementReference>
            </value>
        </filters>
        <object>FinanceAccount__c</object>
        <outputAssignments>
            <assignToReference>FinAccs</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sopId</assignToReference>
            <field>SOP_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sopSource</assignToReference>
            <field>SOP_Source__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>ScreenBusyMsg</name>
        <label>ScreenBusyMsg</label>
        <locationX>308</locationX>
        <locationY>538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>LookUpFinAcc4Agency_0</targetReference>
        </connector>
        <fields>
            <name>Msg</name>
            <fieldText>System is busy integrating the account with CCI.Please wait a few seconds and then press next.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>LookUpFinAcc4Agency</startElementReference>
    <variables>
        <name>AccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Billing_Selection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BillingAgencyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinAccs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sopId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sopSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
