src/flows/SelectCCIGroupAndProfile-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SingleGroupAndProfileAssignment</name>
        <label>SingleGroupAndProfileAssignment</label>
        <locationX>219</locationX>
        <locationY>281</locationY>
        <assignmentItems>
            <assignToReference>UserSelectedGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CCIGroup1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserSelectedProfile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CCIProfile1</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UserSelectedCCI</name>
        <label>UserSelectedCCI</label>
        <locationX>557</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>UserSelectedProfile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_Select_a_CCI_Profile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserSelectedGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_Select_a_CCI_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Group1</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CCIGroup1}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CCIGroup1</elementReference>
        </value>
    </choices>
    <choices>
        <name>Group2</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CCIGroup2}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CCIGroup2</elementReference>
        </value>
    </choices>
    <choices>
        <name>Group3</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CCIGroup3}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CCIGroup3</elementReference>
        </value>
    </choices>
    <choices>
        <name>Group4</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CCIGroup4}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CCIGroup4</elementReference>
        </value>
    </choices>
    <choices>
        <name>Group5</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CCIGroup5}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CCIGroup5</elementReference>
        </value>
    </choices>
    <choices>
        <name>Profile1</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CCIProfile1}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CCIProfile1</elementReference>
        </value>
    </choices>
    <choices>
        <name>Profile2</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CCIProfile2}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CCIProfile2</elementReference>
        </value>
    </choices>
    <choices>
        <name>Profile3</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CCIProfile3}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CCIProfile3</elementReference>
        </value>
    </choices>
    <choices>
        <name>Profile4</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CCIProfile4}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CCIProfile4</elementReference>
        </value>
    </choices>
    <choices>
        <name>Profile5</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CCIProfile5}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CCIProfile5</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Check_Group_and_Profile_Selection</name>
        <label>Check Group and Profile Selection</label>
        <locationX>557</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>ChooseGroupAndProfile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failure</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_Select_a_CCI_Group</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Please_Select_a_CCI_Profile</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>UserSelectedCCI</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfSingleGroupAndProfile</name>
        <label>CheckIfSingleGroupAndProfile</label>
        <locationX>379</locationX>
        <locationY>136</locationY>
        <defaultConnector>
            <targetReference>ChooseGroupAndProfile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MultipleGroupsOrProfiles</defaultConnectorLabel>
        <rules>
            <name>SingleGroupAndProfile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfCCIGroups</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoOfCCIProfiles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SingleGroupAndProfileAssignment</targetReference>
            </connector>
            <label>SingleGroupAndProfile</label>
        </rules>
    </decisions>
    <label>SelectCCIGroupAndProfile</label>
    <processType>Flow</processType>
    <screens>
        <name>ChooseGroupAndProfile</name>
        <label>CCI Group and Profile Selection</label>
        <locationX>552</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Check_Group_and_Profile_Selection</targetReference>
        </connector>
        <fields>
            <name>Selection</name>
            <fieldText>Please select a CCI Group and a CCI Profile</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_Select_a_CCI_Group</name>
            <choiceReferences>Group1</choiceReferences>
            <choiceReferences>Group2</choiceReferences>
            <choiceReferences>Group3</choiceReferences>
            <choiceReferences>Group4</choiceReferences>
            <choiceReferences>Group5</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Group1</defaultSelectedChoiceReference>
            <fieldText>CCI Group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_Select_a_CCI_Profile</name>
            <choiceReferences>Profile1</choiceReferences>
            <choiceReferences>Profile2</choiceReferences>
            <choiceReferences>Profile3</choiceReferences>
            <choiceReferences>Profile4</choiceReferences>
            <choiceReferences>Profile5</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Profile1</defaultSelectedChoiceReference>
            <fieldText>CCI Profile</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>FinalScreen</name>
        <label>FinalScreen</label>
        <locationX>225</locationX>
        <locationY>537</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>FinalScreenBeforePlugin</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please Press &lt;B&gt;Finish&lt;/B&gt; to launch the Plugin.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>CheckIfSingleGroupAndProfile</startElementReference>
    <variables>
        <name>CCIGroup1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIGroup2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIGroup3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIGroup4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIGroup5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIProfile1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIProfile2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIProfile3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIProfile4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIProfile5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NoOfCCIGroups</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfCCIProfiles</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserSelectedGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserSelectedProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
