src/flows/SelectContact-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignContactCounter</name>
        <label>AssignContactCounter</label>
        <locationX>593</locationX>
        <locationY>172</locationY>
        <assignmentItems>
            <assignToReference>NumberOfContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactCounter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckNumberOfContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigncontactDetails</name>
        <label>AssigncontactDetails</label>
        <locationX>633</locationX>
        <locationY>766</locationY>
        <assignmentItems>
            <assignToReference>ContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckNoOfProfilesAndGroups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignError4Contact</name>
        <label>AssignError4Contact</label>
        <locationX>628</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>Error4Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please select Account for contact and then press Next.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddnewContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountContact</name>
        <label>CountContact</label>
        <locationX>365</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>ContactCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopContact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Agency</name>
        <choiceText>Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DAAgency</stringValue>
        </value>
    </choices>
    <choices>
        <name>Booking_Agency</name>
        <choiceText>Booking Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Booking</stringValue>
        </value>
    </choices>
    <choices>
        <name>BrandAgency</name>
        <choiceText>Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agency</stringValue>
        </value>
    </choices>
    <choices>
        <name>DAAgency</name>
        <choiceText>Via Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DAAgency</stringValue>
        </value>
    </choices>
    <choices>
        <name>DADirect</name>
        <choiceText>Direct</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DADirect</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct</name>
        <choiceText>Direct</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct</stringValue>
        </value>
    </choices>
    <choices>
        <name>Directly</name>
        <choiceText>Directly</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Dr</name>
        <choiceText>Dr.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dr.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mr</name>
        <choiceText>Mr.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mr.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mrs</name>
        <choiceText>Mrs.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mrs.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ms</name>
        <choiceText>Ms.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ms.</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Contact</name>
        <choiceText>New Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Parent</name>
        <choiceText>Parent</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>parentchoicevalue</elementReference>
        </value>
    </choices>
    <choices>
        <name>Parent_Agency</name>
        <choiceText>Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agency</stringValue>
        </value>
    </choices>
    <choices>
        <name>Please_Select</name>
        <choiceText>Please Select</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PleaseSelect</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prof</name>
        <choiceText>Prof.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prof.</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckAccSelected4Contact</name>
        <label>CheckAccSelected4Contact</label>
        <locationX>390</locationX>
        <locationY>620</locationY>
        <defaultConnector>
            <targetReference>AssignError4Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AccNotSelected</defaultConnectorLabel>
        <rules>
            <name>AccExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account4Contact</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Please_Select</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateContact</targetReference>
            </connector>
            <label>AccExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckNoOfProfilesAndGroups</name>
        <label>CheckNoOfProfilesAndGroups</label>
        <locationX>643</locationX>
        <locationY>938</locationY>
        <defaultConnectorLabel>MoreThanOneProfileAndGroup</defaultConnectorLabel>
        <rules>
            <name>OnlyOneProfileAndGroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfCCIProfiles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoOfCCIGroups</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <label>OnlyOneProfileAndGroup</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckNumberOfContacts</name>
        <label>CheckNumberOfContacts</label>
        <locationX>811</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>PromptContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ContactsGreaterThan100</defaultConnectorLabel>
        <rules>
            <name>ContactsEqualZero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddnewContact</targetReference>
            </connector>
            <label>ContactsEqualZero</label>
        </rules>
        <rules>
            <name>ContactsLessThan100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactCounter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookUpContact</targetReference>
            </connector>
            <label>ContactsLessThan100</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactSelected</name>
        <label>ContactSelected</label>
        <locationX>779</locationX>
        <locationY>615</locationY>
        <defaultConnector>
            <targetReference>AddnewContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NewSelected</defaultConnectorLabel>
        <rules>
            <name>ExistingContactSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Please_Select</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>New_Contact</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactPhone</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CheckNoOfProfilesAndGroups</targetReference>
            </connector>
            <label>ExistingContactSelected</label>
        </rules>
        <rules>
            <name>NoContactSelected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Please_Select</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookUpContact</targetReference>
            </connector>
            <label>NoContactSelected</label>
        </rules>
        <rules>
            <name>NoPhoneNumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactPhone</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>New_Contact</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Please_Select</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenContactPhoneNumber</targetReference>
            </connector>
            <label>NoPhoneNumber</label>
        </rules>
    </decisions>
    <description>Allow the user to Select a Contact or create a Contact</description>
    <dynamicChoiceSets>
        <name>Accounts4Contact</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactAccId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Acc4Contact</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BillingForParemt</name>
        <dataType>String</dataType>
        <displayField>Agencyname__c</displayField>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>BillingAgencyId</assignToReference>
            <field>Account_A__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BookingForParent</name>
        <dataType>String</dataType>
        <displayField>Agencyname__c</displayField>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>bookingAgencyId</assignToReference>
            <field>Account_A__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FindContact</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactAccId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Prompt_Contact_Name</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetBillingForBookingAgency</name>
        <dataType>String</dataType>
        <displayField>Agencyname__c</displayField>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bookingAgencyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>BillingAgencyId</assignToReference>
            <field>Account_A__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetBookingAgencies</name>
        <dataType>String</dataType>
        <displayField>Agencyname__c</displayField>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>bookingAgencyId</assignToReference>
            <field>Account_A__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetParentBillingAgency</name>
        <dataType>String</dataType>
        <displayField>Agencyname__c</displayField>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>ParentBillingAgencies</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetParentId</name>
        <dataType>String</dataType>
        <displayField>ParentId</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ParentId</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
        <valueField>ParentId</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectBillingAgencies</name>
        <dataType>String</dataType>
        <displayField>Agencyname__c</displayField>
        <filters>
            <field>Account_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </filters>
        <object>Relationship__c</object>
        <outputAssignments>
            <assignToReference>BillingAgencyId</assignToReference>
            <field>Account_A__c</field>
        </outputAssignments>
        <sortField>Account_A__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>SelectContact</label>
    <loops>
        <name>LoopContact</name>
        <label>LoopContact</label>
        <locationX>365</locationX>
        <locationY>266</locationY>
        <assignNextValueToReference>ContactVariable</assignNextValueToReference>
        <collectionReference>ContactCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CountContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssignContactCounter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateContact</name>
        <label>CreateContact</label>
        <locationX>389</locationX>
        <locationY>768</locationY>
        <assignRecordIdToReference>contactid</assignRecordIdToReference>
        <connector>
            <targetReference>AssigncontactDetails</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Acc4Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>ContactFastLookup</name>
        <label>ContactFastLookup</label>
        <locationX>365</locationX>
        <locationY>121</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopContact</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactAccId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>ContactPhoneUpdate</name>
        <label>ContactPhoneUpdate</label>
        <locationX>952</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>CheckNoOfProfilesAndGroups</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Contact_Phone_No</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>AddnewContact</name>
        <label>AddnewContact</label>
        <locationX>624</locationX>
        <locationY>387</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>CheckAccSelected4Contact</targetReference>
        </connector>
        <fields>
            <name>Error</name>
            <fieldText>{!Error4Contact}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Salutation</name>
            <choiceReferences>Mr</choiceReferences>
            <choiceReferences>Ms</choiceReferences>
            <choiceReferences>Mrs</choiceReferences>
            <choiceReferences>Dr</choiceReferences>
            <choiceReferences>Prof</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Salutation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FirstName</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LastName</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmailAddress</name>
            <dataType>String</dataType>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>This is not a valid email address.Please enter a valid email address.</errorMessage>
                <formulaExpression>(REGEX(EmailAddress ,&apos;([a-zA-Z0-9_\\-\\.]+)@((\\[a-z]{1,3}\\.[a-z]{1,3}\\.[a-z]{1,3}\\.)|(([a-zA-Z0-9\\-]+\\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})&apos;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Invalid Contact Phone Number. Please enter a valid Phone Number.</errorMessage>
                <formulaExpression>Len( Phone)&gt;10 &amp;&amp; Len( Phone)&lt;20 &amp;&amp;(REGEX( Phone,&apos;([0-9 -()+/ ]*)&apos;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Account4Contact</name>
            <choiceReferences>Accounts4Contact</choiceReferences>
            <choiceReferences>Please_Select</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Please_Select</defaultSelectedChoiceReference>
            <fieldText>Account</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>LookUpContact</name>
        <label>LookUpContact</label>
        <locationX>802</locationX>
        <locationY>492</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>ContactSelected</targetReference>
        </connector>
        <fields>
            <name>ContactLabel</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please select an existing Contact for this order or select &lt;B&gt;New Contact &lt;/B&gt;to create new contact.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact</name>
            <choiceReferences>Please_Select</choiceReferences>
            <choiceReferences>FindContact</choiceReferences>
            <choiceReferences>New_Contact</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Please_Select</defaultSelectedChoiceReference>
            <fieldText>Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>tmpContactID</name>
            <fieldText>{!FindContact}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>PromptContact</name>
        <label>PromptContact</label>
        <locationX>1017</locationX>
        <locationY>284</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>LookUpContact</targetReference>
        </connector>
        <fields>
            <name>LabelContactLastName</name>
            <fieldText>There are a large number of contacts associated with this advertiser/agency, please enter the contact’s name or part thereof to narrow down your search and proceed to the next step.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Prompt_Contact_Name</name>
            <dataType>String</dataType>
            <fieldText>Contact Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please enter at least 3 letters of the Contact Last Name for the system to search on.</errorMessage>
                <formulaExpression>LEN({!Prompt_Contact_Name})&gt;=3</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>ScreenContactPhoneNumber</name>
        <label>ScreenContactPhoneNumber</label>
        <locationX>955</locationX>
        <locationY>613</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>ContactPhoneUpdate</targetReference>
        </connector>
        <fields>
            <name>ContactPhoneNumber</name>
            <fieldText>{!contactid}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Phone_No</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactPhone</elementReference>
            </defaultValue>
            <fieldText>Contact Phone No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Invalid Contact Phone Number. Please enter a valid Phone Number.</errorMessage>
                <formulaExpression>Len( Contact_Phone_No)&gt;10 &amp;&amp; Len( Contact_Phone_No)&lt;20 &amp;&amp;(REGEX( Contact_Phone_No,&apos;([0-9 -()+/ ]*)&apos;))</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <startElementReference>ContactFastLookup</startElementReference>
    <variables>
        <name>Acc4Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccBillingPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccBillingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Account Phone in Glue</description>
        <name>AccPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AgencyCCICustId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AgencyCCIMailCusId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AgencyCCIMetroCusId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AgencysParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssignedContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BillingAgencyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BillingRelationshipForParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BillingRelatioship</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BookingAgencyCCICusId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>bookingAgencyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BookingAgencyMailCCICus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BookingAgencyMetroCCICusId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BookingCCIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BookingRelationship</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BookingRelationshipForParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCICusAgencyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCICusId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIGroup1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIGroup2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIGroup3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIGroup4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIGroup5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIGroups</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCiMailCusId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CCIMetroCusId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CCIProfile1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIProfile2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIProfile3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIProfile4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIProfile5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCIProfiles</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactAccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>DbType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Error4Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorNoBrandOptionSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorNoDASelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinAccs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HoldingAgencyCCIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IndustryCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NoOfCCIGroups</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NoOfCCIProfiles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NumberOfContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ParentAccType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentBillingAgencies</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentCCIMailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentCCIMetroId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>parentchoicevalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentsParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedAgency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Booking</stringValue>
        </value>
    </variables>
    <variables>
        <name>sopId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sopSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TopParentCCIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserSelectedGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserSelectedProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
